.app-container{   
    display: flex;
    flex-direction: row;
    -ms-flex-item-align: center;
    width:100%; 
    margin-top: 0px;  
}
.title{
    text-align: left;
    width: 100%;
    font-size: 25px;
}
.space{
    width: 1px;
    background-color: black;
    position: relative;
    top:-10px;
}