.node-container{  
    height: 200px;
    width: 100%;
    background-color: aliceblue;
}

.form-info{
    display:flex;
    flex-direction: column;
    font-size: 12px;
}
.title-formfield{
    margin-bottom:20px;
    width: 500px;
    height: 60px;
}
.savechange-button{
    position: absolute;
    width: 120px;
    height: 30px;
    border:0px ;
    border-radius: 5px;
    color: white;
    top: 240px;
    left: 555px;
}
.edit-button{
    position: absolute;
    width: 120px;
    height: 30px;
    border:0px ;
    border-radius: 5px;
    color: white;
    top: 240px;
    left: 433px;
}

.add-button{
    position: absolute;
    width: 120px;
    height: 30px;
    border:0px ;
    border-radius: 5px;
    color: white;
    top: 240px;
    left: 680px;
}

