.node-container{  
    height: 200px;
}

.form-info{
    display:flex;
    flex-direction: column;
    font-size: 12px;
}
.title-formfield{
    margin-bottom:20px;
    width: 500px;
    height: 60px;
}
.savechange-button{
    position: absolute;
    width: 120px;
    height: 30px;
    border:0px ;
    border-radius: 5px;
    background-color: darkturquoise;
    color: white;
    top: 235px;
    left: 725px;
}
.edit-button{
    position: absolute;
    width: 120px;
    height: 30px;
    border:0px ;
    border-radius: 5px;
    background-color: darkturquoise;
    color: white;
    top: 235px;
    left: 353px;
}

