.tree-container{  
    margin-left: 10px;
    border:1px solid rgb(232, 232, 232);
    padding:20px; 
    padding-right: 5px;   
    border-radius: 5px;
    min-width: 230px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(247, 247, 247);
}
.tree-component{
    font-size: 16px;
}
.viewport {
    height: 500px;
    width: 270px;
    font-size: medium;
}
.tree-item{
    font-size: 12px;
    line-height: 50px;
}
  