/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-mdc-form-field{
    font-size: 14px;
}
.mat-mdc-form-field-flex{
    height:50px;
}
.mat-mdc-select-value-text{
    font-size: 14px;
}

.mat-mdc-option {  
    font-size: var(--mdc-typography-body1-font-size, 14px);
}
.mat-mdc-card-content{
    padding: 0px 0px 0px 0px !important;
}
.mat-mdc-card-header{
    padding:0px !important;
    margin-bottom:16px !important;
}
.cdk-overlay-container{
    z-index: 10003;
}
.k-button-md.k-icon-button{
    display: none !important;
}
.mat-mdc-tab-body.mat-mdc-tab-body-active{
    height: 370px;
}
.mdc-notched-outline{
    top:3px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: "Roboto", "Helvetica Neue", sans-serif; }

.main-color{
    background-color: darkblue;
    color: white;
}
